body                        { font-family: sans-serif; background: #d0f0c0; }
a, h1, h2                   { color: #4d4d4d; }
h1, h2                      { font-family: 'Arial', serif; margin: 0; }
h1                          { border-bottom: 2px solid #4d4d4d; }
h2                          { font-size: 1.2em; }
table                       { table-layout: auto; border: solid #d0f0c0;
                              border-collapse: collapse; width: 100%;
                              page-break-inside: auto; padding: 2px; }
table tr                    { border-bottom: thin}
table th                    { white-space: nowrap; padding: 5px; }
table td                    { padding: 5px; }
table tr:hover              { background-color: #ffcc99; }
dt + dt                     { margin-top: 1%;}

input[type=submit] {
  display: inline-block;
  border-radius: 4px;
  background-color: #d0f0c0;
  color: #4d4d4d;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #d0f0c0;
  color: #4d4d4d;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.formpage                   { margin: 2em auto; width: 40%; border: 5px solid #ffcc99;
                              padding: 0.8em; background: white; }
.page                       { margin: 2em auto; width: 90%; border: 5px solid #ffcc99;
                              padding: 2em; background: white; }
.add-story                  { padding: 5%; }
.stories                    { list-style: none; margin: 0; padding: 0; }
.flash                      { background: #cee5F5; padding: 0.5em;
                              border: 1px solid #aacbe2; }
.error                      { background: #f0d6d6; padding: 0.5em; }