<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Fredoka%20One" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
<div class=formpage>
    {% if mode == 'update' %}
        <title>Sprinter 3000 - Edit story</title>
        <div class="long-shadow" align="center">edit story</div>
    {% else %}
        <title>Sprinter 3000 - Add new story</title>
        <div class="long-shadow" align="center">add new story</div>
    {% endif %}
    <dl>
        <form action="{{ url_for('add_story') }}" method='POST' class="add-story" name="add">
            <dt>
            <dt><label for="story_name">Story name</label>
            <dt><textarea name='story_name' id="story_name" rows=1 cols=40>{{ story.story_name }}</textarea>
            <dt><label for="user_story">User story</label>
            <dt><textarea name="user_story" id="user_story" rows=5 cols=40>{{ story.user_story }}</textarea>
            <dt><label for="acceptance">Acceptance criteria</label>
            <dt><textarea name="acceptance_criteria" id="acceptance" rows=5 cols=40>{{ story.acceptance_criteria }}</textarea>
            <dt><label for="businessInputId">Business value</label>
            <dt><input type="range" name="business_value" id="businessInputId"  value={{ story.business_value }} min="100" max="1500" step="100" oninput="businessOutputId.value = businessInputId.value">
            <dt><output name="businessOutput" id="businessOutputId">{{ story.business_value }}</output>
            <dt><label for="estimationInputId">Estimation</label>
            <dt><input type="range" name="estimation" id="estimationInputId"  value={{ story.estimation }} min="0.5" max="40" step="0.5" oninput="estimationOutputId.value = estimationInputId.value">
            <dt><output name="estimationOutput" id="estimationOutputId">{{ story.estimation }}</output>
            <dt><label for="status">Status</label>
            <dt><div class="select-style">
            <select name=status id="status">
                <option selected={{ story.status }}>{{ story.status }}</option>
                <option value="Planning">Planning</option>
                <option value="To Do">To Do</option>
                <option value="In Progress">In Progress</option>
                <option value="Review">Review</option>
                <option value="Done">Done</option>
            </select></div>
            <dt>
                {% if mode == 'update' %}
                    <a href="#" onclick="document.add.submit();" class="button"><span>Update</span></a>
                    <input type=hidden size=1 name='story_id' readonly id="story_id" value={{ story.id }} >
                    <input type=hidden size=1 name='submit_type' readonly id="submit_id" value='update' >
                {% elif mode == 'save' %}
                    <a href="#" onclick="document.add.submit();" class="button"><span>Save</span></a>
                    <input type=hidden size=1 name='submit_type' readonly id="submit_id" value='save' >
                {% endif %}
                <a href="{{ url_for('show_list') }}" class="button" style="float: right"><span>Cancel</span></a>
            </dt>
    </dl>
    </form>
</div>